ffprobe
#isodate
aiofiles
aiohttp
aiohttp_socks==0.10.1
aria2
async-lru==2.0.2
asyncio
beautifulsoup4
bs4
certifi>=2023.7.22
charset-normalizer==3.1.0
cloudscraper
cryptg
cryptography
ffmpeg
ffmpeg-python
Flask==2.2.5
Werkzeug==2.2.3
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gunicorn==20.1.0
humanize
httpx
idna==3.4
itsdangerous==2.0.1
Jinja2==3.0.3
mediainfo
motor
m3u8
mutagen==1.46.0
pillow
pyaes==1.6.1
pycryptodome==3.18.0
pycurl
PyJWT
PyPDF2
pyrogram==2.0.106
pyrofork
pyromod==1.5
pymongo
PySocks==1.7.1
python-dotenv==1.0.0
python-telegram-bot==20.3
pytube
pytz
pyzipper==0.3.6
reportlab
requests==2.31.0
soupsieve==2.4.1
speedtest-cli
sqlalchemy
TgCrypto==1.2.5
tgcrypto
tglogging
tqdm
umongo==3.1.0
urllib3==2.0.3
websockets==11.0.3
wget
xmltodict
yt-dlp==2025.07.21
youtube-dl
colorama
